{% extends 'base.html' %}
{% block title %}Chatroom{% endblock %}

{% block content %}
    <div class="pusher">
        <div class="chat-box">
            <div class="messages">
                <div class="ui text loader">Loading messages...</div>
                {% include 'chat/_messages.html' %}
            </div>
        </div>
        <div class="input-area">
            <div class="ui grid form">
                <div class="ten wide column">
                    <div class="field fluid message-box">
                        {% if current_user.is_authenticated %}
                            <img class="pop-card input-avatar" data-position="bottom left"
                                 data-href="{{ url_for('chat.get_profile', user_id=current_user.id) }}"
                                 src="{{ current_user.gravatar }}">
                            <textarea rows="2" id="message-textarea"
                                      placeholder="Write your message here... Enter to send"></textarea>
                        {% else %}
                            <img class="input-avatar" src="https://www.gravatar.com/avatar?d=mm">
                            <textarea rows="2" id="message-textarea"
                                      placeholder="Send an anonymous message, but it won't be preserved"></textarea>

                        {% endif %}
                    </div>
                </div><br>
                {% if not current_user.is_authenticated %}
                    <div class="four wide column">
                        <div class="ui message floating">
                            <a href="{{ url_for('auth.login') }}">Sign in</a> or
                            <a href="{{ url_for('auth.register') }}">Sign up</a> to preserve your message.
                        </div>
                    </div>
                {% endif %}
                <div class="four wide column right floated right aligned hide-on-mobile">
                    <p>
                        Fork me on <a href="https://github.com/wangtianxing1010">Github</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var socket = io('/');
    </script>
{% endblock %}